<% if flash[:errors] %>
  <div class="d-inline-block mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="col-sm">
      <% flash[:errors].each do |e| %>
        <div class="alert alert-danger">
          <strong>
            <%= e %>
          </strong>
        </div>
        <% end %>
    </div>
  </div>
<% end %>
<!--
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class ="navbar-brand">
      
       </div>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Home</a></li>
      </ul>
    </div>
  </div>
</div>
-->
<br>
<br>
<!--
<div id="sign_up_header">
  <div class="container">    
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
        <div class="panel panel-info" >
          <div class="panel-heading">
            <div class="panel-title">Sign In</div>
            <div style="float:right; font-size: 80%; position: relative; top:-10px"></div>
            </div>     
            <div style="padding-top:30px" class="panel-body" >
              <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                <form id="loginform" class="form-horizontal" role="form" action="/sessions" method="post">
                  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">        
                    <div style="margin-bottom: 25px" class="input-group">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                      <input id="login-email" type="email" class="form-control" name="email" value="" placeholder="email">                           
                    </div>            
                    <div style="margin-bottom: 25px" class="input-group">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                      <input id="login-password" type="password" class="form-control" name="password" placeholder="password">
                    </div>

                    <div style="margin-top:10px" class="form-group">
           
                    <div class="col-sm-12 controls">
                      <input type="submit" value="LOGIN">
                    </div>
                        </div>  
                        <a href="/user/signin"> signin &nbsp; &nbsp; </a> <a href="/" > Home</a>
                </form>     
              </div>                     
            </div>  
          </div>
        -->
<div id="sign_in_header">
  <div class="container">    
  <div id="signupbox" style="display:inline-block; margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="panel-title">Quick BOOK</div>
    </div>  
    <div class="panel-body" >
      <form id="signupform" class="form-horizontal" role="form" action="/user/register" method="post">
          <center><b> <span>&#42;</span></b> madatory fields</center><br><br>
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <div class="form-group">
            <label for="user[email]" class="col-md-3 control-label">Email <b> <span>&#42;</span></b></label>
            <div class="col-md-9">
              <input type="email" class="form-control" name="user[email]" placeholder="Email Address" required="true"> 
            </div>
          </div> 
          <div class="form-group">
            <label for="user[booked_by]" class="col-md-3 control-label">Booked user Name  <b> <span>&#42;</span></b></label>
            <div class="col-md-9">
              <input type="text" class="form-control" name="user[booked_by]" placeholder="Enter Name" required="true">
            </div>
          </div>

          <div class="form-group">
            <label for="user[address]" class="col-md-3 control-label">Address</label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="user[address]" placeholder="Address">
            </div>
          </div>
          <div class="form-group">
            <label for="user[city]" class="col-md-3 control-label">City</label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="user[city]" placeholder="City">
            </div>
          </div> 
            <div class="form-group">
            <label for="user[state]" class="col-md-3 control-label">State</label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="user[state]" placeholder="State">
            </div>
          </div> 
          <div class="form-group">
            <label for="user[pincode]" class="col-md-3 control-label">Pincode</label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="user[pincode]" placeholder="Pincode">
            </div>
          </div> 
          <div class="form-group">
            <label for="user[phone_no]" class="col-md-3 control-label">Phone Number  <b> <span>&#42;</span></b></label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="user[phone_no]" placeholder="Phone Number" required="true">
            </div>
          </div>
          <div class="form-group">
            <label for="user[delivery_address]" class="col-md-3 control-label">Delivery Address  <b> <span>&#42;</span></b></label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="user[delivery_address]" placeholder="Delivery Address" required="true">
            </div>
          </div> 
          <div class="form-group">
            <label for="user[contact_no]" class="col-md-3 control-label">Contact Phone Number  <b> <span>&#42;</span></b></label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="user[contact_no]" placeholder="Contact Phone Number" required="true">
            </div>
          </div>
          <div class="form-group">
              <div class="col-md-offset-3 col-md-9">
                  <div class="col-sm-12 controls">
                    <input type="submit" value="Book">
                    <input type="reset" value="Clear">
                  </div>
              </div>
          </div>
                                          
      </form>
    </div>
  </div>      
</div>
</div>
</div>